body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 100%;
    max-width: 300px; 
    padding: .5rem;
    border: 2px solid #111;
    border-radius: 20%; 
    margin: 1.5rem;
}

div {
    margin: 1.5rem;
}
